:root {
    --primary: #FFFC00;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
    background-color: var(--primary);
}
h1 {
    font-size: 6rem;
}
p {
    font-size: 1.3rem;
}
.txt-primary {
    color: var(--primary);
}
.main_text {
    font-size: 2rem;
}
.main_img {
    background-image: url(../img/laptop-asset.png);
    background-size: cover;
    width: 65rem;
    height: 40rem;
}
.nav_icons {
    height: 8rem;
    width: 50rem;
}
.nav_icon-first {
    background-color:black;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.nav_text {
    margin: .8rem;
    font-weight: bold;
}
.nav_boton {
    padding: .2rem 1rem;
}
.main_boton {
    width: 29rem;
    padding: .7rem 0;
}
.footer {
    height: 5.3rem;
}